.nav-links {
    display: flex;
    gap:20px;
    font-size: 50px;
    background-color: rgb(165, 42, 104);
    align-items: center;
}

    .nav-logo img {
        height: 100px;
        width:150px;
    }

    .nav-link{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        margin-left: auto;
    }

    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        background-color: blue;
        padding: 50px;
        color: blanchedalmond;
        flex-wrap: wrap;
}

.hero-image img {
    width: 300px;
    height: 200px;
    margin-left: 20px;
    border-radius: 50px;
    border-color: brown;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.hero-image{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutus{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: aqua;
    padding: 50px;
    color: blue;
    
}

.About{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.aboutus-imageimg img{
    width: 200px;
    height: 100px;
    margin-left: 30px;
    align-content: center;
    background-color: chocolate;
    border-style: solid;
    border-width: 10px;
    padding: 5px;
    border-radius: 15px;
    flex-wrap: wrap;

}

.aboutus-text

.aboutus-text h2{
    font-size: 50px;
}

.aboutus-text p{
    font-size: 50px;
}

.ourservices h2{
    font-size: 100px;
}

.ourservices h4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100;
    padding: 40px;
    flex-wrap: wrap;
    color: chartreuse;
}
.nav-bar {
    display: block;
    margin-left: auto;
}

@media (min-width: 767px) {
    .nav-bar {
        display: none;
    }
}
    


































 @media screen and (max-width: 767px) {
    .aboutus-imageimg img{
    width:100% ;
    height: auto;
    border-radius: 0px;
    margin: 0;
    border: none;   
 }


.hero h1 {
    font-size: 22px;
}


 .nav-link{
    display: none;
 }
 .aboutus{
    padding: 15px;
 }
}